body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    
}

.coin{
  position: absolute;
  height: 15px;
  width: 15px;
  background: #ffbd0b;
  border-radius: 50%;
  border-top: 2px solid #ffd84c;
  border-left: 2px solid #ffd84c;
  border-right: 2px solid #d57e08;
  border-bottom: 2px solid #d57e08;
  transform: rotate(44deg);
}
